<div class="sidebar-header">
    <div class="top-header">
        <div class="logo-container">
            <img [src]="logoUrl" alt="Quick Chat" class="site-logo">
            <div>
                <h2>Quick Chat</h2>
            </div>
        </div>
    </div>
    <div class="search-bar">
        <span class="p-input-icon-left search-wrapper w-full">
            <i class="pi pi-search"></i>
            <input pInputText type="text" class="w-full search-input" placeholder="Search conversations..." />
        </span>
    </div>
</div>