<div class="sidebar-header">
    <div class="top-header">
        <div class="logo-container">
            <img [src]="logoUrl" alt="Quick Chat" class="site-logo">
            <div>
                <h2>Quick Chat</h2>
            </div>
            <span class="add-user-btn" (click)="showFindPeopleDialog()">
                <i class="pi pi-user-plus"></i>
            </span>
        </div>
    </div>
    <div class="search-bar">
        <span class="p-input-icon-left search-wrapper w-full">
            <i class="pi pi-search"></i>
            <input pInputText type="text" class="w-full search-input" placeholder="Search conversations..." />
        </span>
    </div>
</div>

<p-dialog header="Find People" [(visible)]="displayFindPeopleDialog" [modal]="true" [draggable]="false"
    [resizable]="false" [style]="{ width: '450px' }">
    <app-find-people-dialog></app-find-people-dialog>
</p-dialog>