# =========================
# .NET
# =========================
bin/
obj/
.vs/
*.user
*.suo

# =========================
# Angular / Node
# =========================
node_modules/
dist/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment
# =========================
.env

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
