<div class="grid" (click)="selectedChat()">
    <div class="col-2">
        <div class="avator-container" (click)="showChatItemProfileCard()">
            <ng-container *ngIf="chatItem?.profileImageUrl; else initialAvator">
                <img class="profile-image" [src]="chatItem?.profileImageUrl">
            </ng-container>

            <ng-template #initialAvator>
                <div class="avatar-placeholder">
                    {{ getInitials() }}
                </div>
            </ng-template>

            <span class="online-indicator" [ngClass]="getStatusText(chatItem.userId)"
                *ngIf="chatItem?.showOnlineStatus">
            </span>
        </div>
    </div>
    <div class="col-10">
        <div class="chat-header">
            <h4>{{ chatItem?.firstName }} {{ chatItem?.lastName }}</h4>
            <span class="time">{{ chatItem?.lastMessageDisplayTime }}</span>
        </div>
        <div class="chat-footer">
            <p class="last-message">
                {{ chatItem?.lastMessage }}
            </p>
            <span class="unread-badge" *ngIf="chatItem.unreadCount > 0">
                {{ chatItem?.unreadCount }}
            </span>
        </div>
    </div>
</div>

<p-dialog [(visible)]="displayChatItemProfileCard" [modal]="true" [draggable]="false" [closable]="false"
    [resizable]="false" [style]="{ width: '450px' }">
    <app-chat-item-profile-card (close)="displayChatItemProfileCard = false"></app-chat-item-profile-card>
</p-dialog>