<div class="settings-container">
    <div class="grid">
        <div class="col-12 dialog-header">
            <div class="dialog-icon">
                <i class="pi pi-shield"></i>
            </div>
            <div class="dialog-header-text">
                <h3>Account Settings</h3>
                <span class="dialog-header-description">Manage your account preferences</span>
            </div>
            <div class="dialog-close-btn">
                <button (click)="closeDialog()"></button>
            </div>
        </div>
        <div class="col-12">
            <div class="grid">
                <div class="col-4">
                    <div class="settings-sidebar">
                        <div class="nav-item" *ngFor="let tab of tabs" [class.active]="selectedTab === tab.value"
                            (click)="selectedTab = tab.value">

                            <div class="nav-header">
                                <i [class]="tab.icon"></i>
                                <span>{{ tab.label }}</span>
                                <span class="nav-tick">
                                    <i class="pi pi-check"></i>
                                </span>
                            </div>
                            <span class="nav-description">{{ tab.description }}</span>
                        </div>
                        <div class="logout-section">
                            <p-button label="Logout" icon="pi pi-sign-out" styleClass="logout-btn" [outlined]="true"
                                (onClick)="confirmLogout()">
                            </p-button>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="settings-content">
                        <app-profile-settings *ngIf="selectedTab === SettingsTab.Profile"></app-profile-settings>
                        <app-password-settings *ngIf="selectedTab === SettingsTab.Password"
                            (close)="closeDialog()"></app-password-settings>
                        <app-privacy-settings *ngIf="selectedTab === SettingsTab.Privacy"
                            [privacySettingData]="privacySettings" (close)="closeDialog()"></app-privacy-settings>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmdialog></p-confirmdialog>