<div class="dialog-header">
    <div class="header-left">
        <i class="pi pi-users"></i>
        <h2>Find People</h2>
    </div>
    <div class="find-people-close-btn">
        <button (click)="closeDialog()"></button>
    </div>
</div>
<div class="search-container">
    <span class="p-input-icon-left search-wrapper w-full">
        <i class="pi pi-search"></i>
        <input pInputText type="text" class="w-full search-input" placeholder="Search conversations..."
            (input)="onSearch($event)" />
    </span>
</div>
<div class="result-header">
    <span class="result-count">{{ peopleCount }} USERS FOUND</span>
    <span class="result-text">Tap to start a chat</span>
</div>
<div class="user-list">
    <app-user-item *ngFor="let suggestedUser of filteredPeople" [chatItem]="suggestedUser"></app-user-item>
</div>